# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Prisma
/prisma/*.db
/prisma/*.db-journal

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# Coverage
coverage/
